<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Item</title>
    <link rel="stylesheet" type="text/css" href="/static/estoque_app/css/style.css"/>
</head>
<body>
    <header>
        <h1>EDITAR ITEM</h1>
    </header>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>

    <a href="{% url 'lista_estoque' %}" class="btn btn-primary">Voltar para a Lista de Estoque</a>

    <!-- Inclua seus scripts JavaScript aqui, se necessário -->
</body>
</html>
 