<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Produtos</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/aplicativoPy/css/estilos.css"
    />
  </head>

  <body>
  
    <div class = "conteudo">
    
    <h1>Lista de Produtos</h1>

    <table>
      <tr>
        <th>CATEGORIA</th>
        <th>NOME</th>
        <th>PREÇO</th>
      </tr>
      {% for produto in produtos %}
      <tr>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.nome }}</td>
        <td>R$ {{ produto.preco }}</td>
      </tr>
      {% endfor %}
    </table>

    <h2>Inserir Novo Produto:</h2>

    <form method="post" action="{% url 'inserir_produto' %}">
      {% csrf_token %} Nome:<input type="text" name="nome" /><br />
      Preço:<input type="text" name="preco" /><br />
      Categoria:<select name="categoria">
        {% for categoria in categorias %}
        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endfor %}</select
      ><br />
      <input type="submit" value="Inserir Produto" id="submit-button" />
    </form>
    <script src="/static/aplicativoPy/js/script.js"></script>
  
  </div>
  
  </body>

</html>